[MASTER]
load-plugins=

[MESSAGES CONTROL]
disable=
    ungrouped-imports,
    import-self,
    too-many-function-args,
    too-few-public-methods,
    too-many-public-methods,
    invalid-name,
    no-member
